* {
 margin: 0;
 padding: 0;
 font-family: Helvetica, sans-serif;
}

@font-face {
    font-family: moonhouseimport;
    src: url("../font/moonhouse.ttf");
}



/*header*/
header {
    background-image: url(../image/header.jpg);
    height: 75px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 139, 0.719);
    overflow: hidden;
    position: fixed;
    top: 0;
}

#head1 h1 {
    text-align: center;
    color: rgb(231, 230, 230);
    font-family: moonhouseimport, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    size: 50px;
}
    
.menu {
    color: white;
    text-align: center;
}

.menu li {
    display: inline;
    list-style-type: none;
    margin: 0 5px;
    padding: 0 5px;
    border-left: 1px solid whitesmoke;
}

.menu li:hover {
    background-color: rgba(146, 221, 221, 0.493);
    color: yellow;
}

.menu li a {
    text-decoration: none;
    color: white;
  }

/*end header*/

/*BODY*/
body {
    width: 100%;
    background-image: url(../image/connectwork/connectwork.png);
}

.container {
    background-color: #2e2c2cc4;
    height: 700px;
    width: 80%;
    margin: auto;
}

.opening {
   padding-top: 100px; 
   text-align: center;
   color: rgb(253, 252, 252);
}

.opening a {
    color: rgb(88, 122, 235);
    text-decoration: none;
}

.text {
    padding: 20px 10px;
    text-align: left;
    color: bisque;
}

.banner {
    height: 200px;
    background-image: url(../image/welcome.jpg);
    background-size: cover;
    background-position: -400px -970px;
    filter: brightness(70%)
}

form{
    padding-left: 10px;
    position: relative;
    top: 50px;
}
form h3 {
    color: white;
}

label {
    color: white;
}
.newsletter {
    background-color: white;
}
/*End BODY*/

/*FOOTER*/

footer {
    color: beige;
    background-color: rgba(10, 10, 10, 0.575);
}

h5 {
    margin: 10px;
    float: left;
    
}

.media {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
.media li {
    display: inline;
    margin: 0 5px;
}

.media li:hover {
    background-color: white;
}

.credit {
    clear: both;
    text-align: right;
    padding-right: 10px
}
.credit a {
    text-decoration: none;
    color: rgb(105, 104, 104);
}

/*END*/